<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>payday.app</title>
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
      <link rel="stylesheet" href="css/{{style}}">
      <link rel="stylesheet" href="css/gradient-navbar.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   </head>
   <body style="background-color: rgb(248,244,244);">

{{{body}}}

   {{{_sections.script}}}

   </body>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="js/Chart.js"></script>
     <script src="js/loginService.js"></script>
     <script src="js/history.js"></script>
     <script src="js/persistPayStub.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script>


  $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip(); 
    });
   
new Chart(document.getElementById("pie-chart"), {
    type: 'pie',
    data: {
      labels: ["Federal tax : {{federalTax}}",
               "Medical tax : {{medicalTax}}",
                "State tax : {{StateTax}}",
                "Health insurance : {{HealthInsurance}}",
                "Other deductions : {{otherDeductions}}",
                "Social security tax : {{socialSecurityTax}}"],
      datasets: [{
        label: "Deductiosn (USD$)",
        backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
        data: [{{federalTax}},{{medicalTax}},{{StateTax}},{{HealthInsurance}},{{otherDeductions}},{{socialSecurityTax}}]
      }]
    },
    options: {
      legend: {
        display: true,
        position: 'bottom'
      },
      title: {
        display: true,
        text: 'Deductions'
      }
    }
});



$('input[type="radio"]').click(function() { 
    console.log('Radio clicked');
    var inputValue = $(this).attr("value"); 
    var targetBox = $("." + inputValue); 
    $(".selectt").not(targetBox).hide();
    $(targetBox).show(); 
}); 

                  
    </script>

</html>
       