<section>
    <nav class="navbar navbar-dark navbar-expand-md" id="app-navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <i class="icon ion-ios-navigate" id="brand-logo" style="width: 60px;height: 60px;"></i>
            </a>
            <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" href="#">Verify payroll</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="#">Calculate payroll</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="#">Payroll history</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</section>
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-5">
            <section>
                <h3 class="text-nowrap text-center text-body border-primary shadow-sm" style="padding: 20px;color: rgb(0,3,6);">Payroll details</h3>
            </section>
            <section>
                <div class="row">
                    <div class="col offset-lg-0">
                        <form>
                            <div class="form-check text-center text-body">
                                <input class="form-check-input" type="radio" id="formCheck-1" name="status" value="C" checked>
                                <label class="form-check-label text-center" for="formCheck-1">Student</label>
                            </div>
                            <div class="form-check text-center text-body">
                                <input class="form-check-input" type="radio" id="formCheck-2" name="status" value="Java" >
                                <label class="form-check-label text-center" for="formCheck-2">H1B</label>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
            <section>
                  <form action="/calculate" method="POST">
                <div class="form-group text-center">
                    <div class="table-responsive d-flex justify-content-center align-items-end">
                        <table style="margin-bottom: 0px;" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Detail</th>
                                    <th class="text-nowrap text-left" style="width: 150px;">Amount-USD</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-left text-body">
                                        <i class="icon ion-information-circled" id="brand-logo-2" style="width: 80px;padding: 10px 10px 10px 10px;height: 80px;color: #f4476b;"></i>Month
                                    </td>
                                    <td>
                                        <select class="btn btn-primary dropdown-toggle text-center border rounded" data-toggle="dropdown" aria-expanded="false" style="width: 110px;height: 28px;padding: 5px;background-color: rgb(232,75,94);">
                                                 <option value=''>Select Month</option>
                                                <option selected value='1'>Janaury</option>
                                                <option value='2'>February</option>
                                                <option value='3'>March</option>
                                                <option value='4'>April</option>
                                                <option value='5'>May</option>
                                                <option value='6'>June</option>
                                                <option value='7'>July</option>
                                                <option value='8'>August</option>
                                                <option value='9'>September</option>
                                                <option value='10'>October</option>
                                                <option value='11'>November</option>
                                                <option value='12'>December</option>
                                            </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-nowrap text-left">
                                        <i class="icon ion-information-circled" id="brand-logo-9" style="width: 80px;padding: 10px 10px 10px 10px;height: 80px;color: #f4476b;"></i>Hours worked
                                    </td>
                                    <td class="text-left">
                                        <input id = "hoursWorked" class="border rounded" type="text" name="hoursWorked" inputmode="decimal" type="number" step="0.01" min="0" required="" style="width: 110px;">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-nowrap text-left">
                                        <i class="icon ion-information-circled" id="brand-logo-10" style="width: 80px;padding: 10px 10px 10px 10px;height: 80px;color: #f4476b;"></i>Hourly rate
                                    </td>
                                    <td class="text-left">
                                        <input id= "hourlyRate" class="border rounded" type="text" name="hourlyRate" inputmode="decimal" type="number" step="0.01" min="0" required="" style="width: 110px;">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-nowrap text-justify">
                                        <i class="icon ion-information-circled" id="brand-logo-17" style="width: 80px;padding: 10px 10px 10px 10px;height: 80px;color: #f4476b;" data-toggle="tooltip" title="Total wages ran for the month excluding the taxes and deductions"></i>Payroll Amount
                                    </td>
                                    <td class="text-left">
                                        <input id = "payrollAmount" class="border rounded" type="text" name="payrollAmount" inputmode="decimal" type="number" step="0.01" min="0" required="" style="width: 110px;">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-nowrap text-left">
                                        <i class="icon ion-information-circled" id="brand-logo-5" style="width: 80px;padding: 10px 10px 10px 10px;height: 80px;color: #f4476b;"></i>Federal tax
                                    </td>
                                    <td class="text-left">
                                        <input id = "federalTax"class="border rounded" type="text" name="federalTax" inputmode="decimal" type="number" step="0.01" min="0" required="" style="width: 110px;">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-nowrap text-left">
                                        <i class="icon ion-information-circled" id="brand-logo-6" style="width: 80px;padding: 10px 10px 10px 10px;height: 80px;color: #f4476b;"></i>State tax
                                    </td>
                                    <td class="text-left">
                                        <input id = "stateTax" class="border rounded" type="text" name="stateTax" inputmode="decimal" type="number" step="0.01" min="0" required="" style="width: 110px;">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-nowrap text-left">
                                        <i class="icon ion-information-circled" id="brand-logo-7" style="width: 80px;padding: 10px 10px 10px 10px;height: 80px;color: #f4476b;"></i>Health insurance
                                    </td>
                                    <td class="text-left">
                                        <input id = "healthInsurance" class="border rounded" type="text" name="healthInsurance" inputmode="decimal" type="number" step="0.01" min="0" required="" style="width: 110px;">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-nowrap text-left">
                                        <i class="icon ion-information-circled" id="brand-logo-8" style="width: 80px;padding: 10px 10px 10px 10px;height: 80px;color: #f4476b;"></i>Other deductions
                                    </td>
                                    <td class="text-left">
                                        <input id = "otherDeductions" class="border rounded" type="text" name="otherDeductions" inputmode="decimal" type="number" step="0.01" min="0"  style="width: 110px;">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div style="display : none" class="Java selectt">
                            <div class="table-responsive d-flex justify-content-center align-items-end">
                        <table style="margin-bottom: 0px;" class="table table-striped">
                            <tbody>
                                <tr>
                                    <td class="text-nowrap text-left">
                                        <i class="icon ion-information-circled" id="brand-logo-3" style="width: 80px;padding: 10px 10px 10px 10px;height: 80px;color: #f4476b;"></i>Social security tax
                                    </td>
                                    <td class="text-left" style="width: 153px;height: 53px;">
                                        <input id = "socialSecurityTax"  class="border rounded" type="text" name="socialSecurityTax" inputmode="decimal" type="number" step="0.01" min="0" style="width: 110px;">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-nowrap text-left">
                                        <i class="icon ion-information-circled" id="brand-logo-4" style="width: 80px;padding: 10px 10px 10px 10px;height: 80px;color: #f4476b;"></i>Medical tax
                                    </td>
                                    <td class="text-left" style="width: 153px;height: 53px;">
                                        <input id = "medicalTax" class="border rounded" type="text" name="medicalTax" inputmode="decimal" type="number" step="0.01" min="0" style="width: 110px;">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                        </div>
                        <div style="display : block" class="C selectt"></div>
                    <button class="btn btn-primary text-center border rounded float-none align-items-center" type="submit" style="width: 160px;padding: 10px;background-color: rgb(232,75,94);">Verify</button>
                </div>
                </form>
            </section>
        </div>
        <div class="col text-center">
            <section>
                <h4 class="text-nowrap text-center text-body border-primary shadow-sm" style="padding: 20px;">Payroll summary</h4>
            </section>
            <section>
                <canvas id="pie-chart" width="80px" height="40px"></canvas>
            </section>
            <section style="padding: 0px 90px;">
                <div class="row">
                    <div class="col-lg-12 text-center main" style="padding-top: 60px;">
                        <table style="width:100%" align="center">
                            <h3 align="left">summary</h3>
                            <tr>
                                <td align="left">Month : </td>
                                <td align="left"> {{month}} </td>
                            </tr>
                            <tr>
                                <td align="left">Hours worked:</td>
                                <td align="left">{{hoursWorked}}</td>
                            </tr>
                            <tr>
                                <td align="left">Hourly rate:</td>
                                <td align="left">{{hourlyRate}}</td>
                            </tr>
                            <tr>
                                <td align="left"> Total: </td>
                                <td align="left"> {{total}}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td align="left">Payroll Amount:</td>
                                 <td align="left">{{payrollAmount}}</td>
                            </tr>
                            <tr>
                                <td align="left">
                                    <span style="color:red">Total Deductions:</span>
                                </td>
                                 <td align="left">
                                    <span style="color:red"></span>{{deductions}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    <span style="color:green">Direct Deposit:</span>
                                </td>
                                 <td align="left">
                                    <span style="color:green">{{deposit}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    <span style="color:green">Buffer Amount:</span>
                                </td>
                                 <td align="left">
                                    <span style="color:green">{{bufferAmount}}</span>
                                </td>
                            </tr>
                        </table>
                        <div style="padding-top: 20px; padding-bottom: 10px; text-align:center">
                            <button class="btn btn-primary text-center border rounded float-none align-items-center" type="submit" style="width: 160px;padding: 10px;background-color: rgb(232,75,94);">Save Payroll</button>
                        </div>
                    </div>
                </div>
        </div>
        </section>
    </div>
</div>
</div>